<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pjblake.pwtg">

    <application
        android:allowBackup="true"
        android:icon="@drawable/pas"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pas"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CharacterSelection" android:screenOrientation="landscape"></activity>
        <activity android:name=".Options" android:screenOrientation="landscape"></activity>
        <activity android:name=".HowTo" android:screenOrientation="landscape"></activity>
        <activity android:name=".NewGame" android:screenOrientation="landscape"></activity>
        <activity android:name=".Summary" android:screenOrientation="landscape"></activity>
        <service android:enabled="true" android:name=".BackgroundSoundService" />
    </application>

</manifest>